/* Example */
body.example{font-family: Arial;font-size: 14px;}
body.example a{color: #000;text-decoration: none;font-size: 14px;}
body.example a:hover{text-decoration: underline;}
/* End Example */


/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* End Datatables Override */

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

#raw-tabs{padding-top:45px;}
#raw-tabs li{float:right;}
#raw-add button,#raw-edit button{float:right;margin-left:10px;}
#raw-add .form-group,#raw-edit .form-group{clear:both;}

.select2-container{width:100%;}
#raw-list td.actions a{margin-right:4px;}

.raw-upload{width:100%;clear:both;margin-top:10px;}
.raw-uploaded img{border:2px solid #ddd;}
#progress{display:none;}